@{
    ViewData["Title"] = "Home Page";
}

<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img class="d-block w-100" style="width:250px; height:600px" src="https://www.thesprucepets.com/thmb/RnHuXHElPM62D1Yh9TwhvBtvLIU=/3865x2174/smart/filters:no_upscale()/blue-and-yellow-macaws--ara-ararauna---pair--native-to-south-america--captive--wachenheim--germany-999155090-5b4d121dc9e77c00549c58fd.jpg"  alt="First parrot">
        </div>
        <div class="carousel-item">
            <img class="d-block w-100" style="width:250px; height:600px" src="https://upload.wikimedia.org/wikipedia/commons/9/92/Fruit_time_for_parrots_in_Green_World_Ecological_Farm.jpg" alt="Second parrot">
        </div>
        <div class="carousel-item">
            <img class="d-block w-100" style="width:250px; height:600px" src="https://cdnph.upi.com/ph/st/th/8871654012862/2022/upi/848593b810b723cc07bed046cee1bcbb/v1.5/World-Parrot-Day-was-founded-by-the-World-Parrot-Trust-in-2004.jpg?lg=5" alt="Third parrot">
        </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>